<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjr.mapper.ProductSpecMapper" >
  <resultMap id="BaseResultMap" type="com.xjr.pojo.ProductSpec" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="p_id" property="pId" jdbcType="VARCHAR" />
  </resultMap>

  <delete id="deleteAllSpecByPid">
    delete from product_spec
    where p_id = #{pid}
  </delete>

  <select id="selectUniqueColorByPid" resultType="String">
    select distinct(color)
    from product_spec
    where p_id = #{pid}
  </select>

  <select id="selectUniqueSizeByPid" resultType="String">
    select distinct(size)
    from product_spec
    where p_id = #{pid}
  </select>

</mapper>