<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjr.mapper.SearchRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.xjr.pojo.SearchRecords" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sr_id" property="srId" jdbcType="INTEGER" />
    <result column="sr_content" property="srContent" jdbcType="VARCHAR" />
    <result column="sr_destination" property="srDestination" jdbcType="VARCHAR" />
    <result column="sr_entity" property="srEntity" jdbcType="VARCHAR" />
    <result column="sr_uid" property="srUid" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getHotWords" resultType="String">
    select word
    from (select sr_entity as word,count(sr_entity) as count
    from search_records
    where sr_entity is not NULL
    group by sr_entity
    union
    select sr_destination,count(sr_destination)
    from search_records
    where sr_destination is not NULL
    group by sr_destination) as t1
    order by t1.count desc
  </select>

</mapper>