<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjr.mapper.SkdDetailImageMapper" >
  <resultMap id="BaseResultMap" type="com.xjr.pojo.SkdDetailImage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="skd_detail_id" property="skdDetailId" jdbcType="VARCHAR" />
  </resultMap>

  <select id="countSkdDetailImage" parameterType="String" resultType="INTEGER">
    select count(*) from skd_detail_image
    where url = #{url}
  </select>

  <select id="selectAllBySkdDetailId" resultType="String">
    select url from skd_detail_image
    where skd_detail_id = #{skdDetailId}
  </select>

</mapper>